@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-main-bgc;
  color: $button-main-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-main-not-color !important;
    background-color: $primary;
    text-decoration: none;
    @extend %hoverAnimation;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-outline-border;
    color: $button-outline-not-color;
    @extend %hoverAnimation;
  }
}

.oldPrice {
  @extend .small;
  background-color: transparent;
  text-decoration: line-through;
  color: $old-price-text-color;
}

.favorite {
  background-color: $primary;
  color: $button-favorite-color;
}

.compare {
  background-color: $primary;
  color: $button-compare-color;
}

.nextBackBtn {
  width: 50%;
  height: 9%;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  font-weight: bold;
  color: $button-next-back-color;
  background-color: $button-next-back-bgc;
  transition: .2s linear;

  &:hover {
    color: $button-next-back-color;
    background-color: $button-next-back-hover;
  }
}

.galleryBtn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;
  background-color: $gallery-btn-bg;
  margin-bottom: 5px;
  &:not(.noHover):hover {
    background-color: $gallery-btn-hover-bkg;
    color: $gallery-btn-hover-font;
    @extend %hoverAnimation;
    cursor: pointer;
  }
}

.greenBtn {
  background-color: $gallery-picture;
  color: $button-main-color;
  padding: 10px 20px;

  &:hover {
    background-color: lighten($gallery-picture, 20%);
    text-decoration: none;
    color: $text-color;
  }
}
