@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $header-topbar-a;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media (max-width:768px) {
  .root .topMenu {
    ul li {
      margin-left: 1rem;
    }
    span {
      display: none;
    }
  }

  .root .topOptions ul li {
    margin-right: 1rem;
    a {
      font-size: 12px;
    }
  }
}

@media (max-width:375px) {
  ul li {
    margin-left: 0.2rem;
  }

  .root .topOptions ul li {
    margin-right: 0.5rem;
    a {
      font-size: 10px;
    }
  }
}

@media (max-width:361px) {
  .root .topMenu {
    ul li {
      margin-left: 0.5rem;
    }
    span {
      display: none;
    }
  }

  .root .topOptions ul li {
    margin-right: 1rem;
    a {
      font-size: 14px;
    }
  }
}
