@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-root-bgc;
  border: 1px solid $productBox-root-border;
  border-top: none;
  margin-bottom: 2rem;
  width: 100%;
  height: 94%;

  &:hover {
    .photo .buttons {
      visibility: visible;
    }

    .photo .time {
      visibility: visible;
      cursor: pointer;
    }

    .actions .price > div:last-child {
      background-color: $primary;
    }
  }

  .photo {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 80% 10px 0 10px;
    background: {
      color: $productBox-photo-color;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .buttons {
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .time {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: $offer-time-color;
      background-color: $offer-time-bgc;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1;
      margin-bottom: 10px;
      opacity: .9;
      z-index: 22;

      .hour {
        font-size: 24px;
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productBox-stars-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-line-border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
