// VARIABLES WE DON NOT USE IN ANY ANOTHER FILES

$darkGray: #2a2a2a;
$veryDarkGray: #292929;
$mediumDarkGray: #b6b6b6;
$gray: #a5a5a5;
$mediumGray: #a9a9a9;
$lightGray: #d8d8d8;
$mediumLightGray: #e2e2e2;
$veryLightGray: #e1e1e1;
$lightGrayishBlue: #e0e3ed;
$mediumLightGrayishBlue: #f4f5f7;
$battleshipGray: #434343;
$shadow: #363636;

$orange: #d58e32;
$black: #000;
$white: #ffffff;
$green: #69c831;
$background-color: $white;

// VARIABLES WE ARE USING IN ANOTHER FILES

/*HEADER*/

$header-topbar-bg: $battleshipGray;
$header-topbar-a: $white;
$header-bg: $shadow;

/*SEARCH*/

$search-bg: $white;
$search-categpry-hover-bg: $white;
$search-categpry-hover-border: $veryDarkGray;
$search-hover-animation-bg: $orange;

/*NEW FURNITURE*/

$newFurniture-panelBar-border: $mediumLightGray;
$newFurniture-menu-a: $darkGray;
$newFurniture-dots-bgc: $white;
$newFurniture-dots-a: $veryLightGray;

/*COMPANY CLAIM*/

$companyClaim-phoneNumber-p: $lightGray;
$companyClaim-cardCounter-color: $lightGrayishBlue;
$companyClaim-cardBox-color: $white;

/*MENU BAR*/

$menuBar-active-color: $white;
$menuBar-a-border: $white;
$menuBar-root-bgc: $white;

/*FOOTER*/

$footer-claim-bg: $darkGray;
$footer-bg: $shadow;
$footer-menu-h6: $white;
$footer-menu-a: $mediumGray;
$footer-menu-hover: $white;
$footer-copyright-p: $mediumGray;
$footer-socialMedia-a: $mediumGray;

/*PRODUCT BOX*/

$productBox-root-bgc: $white;
$productBox-root-border: $veryLightGray;
$productBox-photo-color: $mediumLightGrayishBlue;
$productBox-sale-bgc: $veryDarkGray;
$productBox-sale-color: $white;
$productBox-stars-color: $darkGray;
$productBox-line-border: $darkGray;

/*FEATURE BOX*/

$featureBox-root-border: $mediumDarkGray;
$featureBox-root-icon-color: $white;
$featureBox-icon-border: $mediumDarkGray;
$featureBox-icon-bgc: $white;
$featureBox-content-color: $darkGray;

/*BUTTON*/

$button-main-bgc: $darkGray;
$button-main-color: $white;
$button-main-not-color: $white;
$button-main-not-color: $white;
$button-outline-border: $darkGray;
$button-outline-color: $darkGray;
$button-outline-not-bgc: $darkGray;
$button-outline-not-color: $white;
$button-favorite-color: $white;
$button-compare-color: $white;
$button-next-back-bgc: $darkGray;
$button-next-back-color: $white;
$button-next-back-hover: $orange;


/*OFFER*/

$offer-img-title-bgc: $black;
$offer-img-title-color: $white;
$offer-hot-deal-text-color: $white;
$offer-hot-deal-bgc: $darkGray;
$offer-time-bgc: $darkGray;
$offer-time-color: $white;
$offer-active-dot: $orange;

/*GALLERY*/

$gallery-heading-border: $mediumLightGray;
$gallery-heading: $orange;
$gallery-heading-before: $orange;
$gallery-link: $darkGray;
$gallery-link-active: $orange;
$gallery-link-active-border: $orange;
$gallery-link-active-bg: $mediumLightGrayishBlue;
$gallery-link-bg: $white;
$gallery-link-border: $lightGray;
$gallery-btn-bg: $mediumLightGrayishBlue;
$gallery-btn-hover-bkg: $orange;
$gallery-btn-hover-font: $white;
$gallery-content-bg: $white;
$gallery-triangle: $veryDarkGray;
$gallery-price-bg: $veryDarkGray;
$gallery-price: $lightGray;
$gallery-picture: $green;
$gallery-overly: $mediumLightGrayishBlue;

/*OTHER*/

$primary: $orange;

$text-color: $darkGray;
$old-price-text-color: $gray;

$form-border-color: $veryDarkGray;

$base-padding: 24px;

//Media breakpoints

$laptop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 425px;

/*hover animations*/

/*transition values*/
$background-color-transition: 250ms;
$color-transition: 250ms;
$border-color-transition: 250ms;

%hoverAnimation {
  transition: background-color $background-color-transition linear, color $color-transition linear,
    border-color $border-color-transition linear;

  transform: translate(0, 0);
}
