@import "../../../styles/settings.scss";

.root {
    background-color: red;

    .heading {
        color: yellow;

        h3 {
            background-color: pink;
        }

        &:before {
            color: blue;
        }
    }

    .menu {
        background-color: purple;
    }
}

