@import "../../../styles/settings.scss";

.root {
  margin: 60px 0;

  .heading {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 4px solid $gallery-heading-border;

    h3 {
      color: $gallery-heading;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $gallery-heading-before;
    }
  }

  .menu {
    text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
          display: inline-block;
          margin: 0;
          font-weight: bold;
          background-color: $gallery-link-bg;
          border: 1px solid $gallery-link-border;
          width: 25%;

          span {
            color: $gallery-link;
            padding: 15px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            display: block;
            cursor: pointer;

            &.active,
            &:hover {
              background-color: $gallery-link-active-bg;
              border-top: 4px solid $gallery-link-active-border;
              color: $gallery-link-active;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $gallery-link-active-border;
            }
          }
        }
      }
    }
  }

  .product {
    position: relative;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }

    .buttons {
      z-index: 1;
      position: absolute;
      margin-left: 10px;
      width: 35px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .content {
      text-align: center;
      z-index: 1;
      position: absolute;
      right: 5px;
      bottom:25px;
      background-color: $gallery-content-bg;
      padding: 15px;
      box-shadow: 0 6px 9px 1px rgba(0,0,0,0.35);

      .triangleTopLeft {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 0;
        border-color: $gallery-triangle transparent transparent transparent;
      }

      .triangleBottomRight {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px ;
        border-color:  transparent transparent $gallery-triangle transparent;
      }

      h5 {
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      .stars {
        span {
          text-decoration: none;
          color: $text-color;
        }
      }

      .price {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(65%, -90%);
        background-color: $gallery-price-bg;
        border-radius: 50%;
        padding: 20px;
        height: 100px;
        width: 100px;
        opacity: 0.7;

        s {
          font-size: 20px;
        }

        h3, h5 {
          margin: 0;
          color: $gallery-price;
          opacity: 1;
        }
      }
    }
  }

  .slider {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    border: 1px solid $gallery-link-border;

    .preview, .next {
      width: 45px;
      background-color: black;
      display: flex;
      color: white;
      font-size: bold;
      text-align: center;
      font-size: 20px;
      padding-top: 15px;
      text-decoration: none;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $primary;
      }
    }

    .thumbnails {
      width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


      .thumbnail {
        width: 75px;
        height: 75px;
        object-fit: cover;
        margin: 2px;
        position: relative;
        overflow: hidden;
        opacity : 0.5;

        &.active {
          opacity: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .picture {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }

    .details {
      position: absolute;
      top: 30px;
      left: 30px;

      h3 {
        text-transform: uppercase;

        span {
          color: $gallery-picture;
          font-size: 3rem;
          font-weight: bold;
        }
      }

      h1 {
        color: $gallery-heading;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint ) {
  .picture {
    display: none;
  }
}

@media (max-width: $tablet-breakpoint ) {
  .picture {
    display: none;
  }
}


/*
$laptop-breakpoint
$tablet-breakpoint
$mobile-breakpoint
*/
