@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {

    display: flex;
    align-items: center;
    position: relative;
    background-color: $search-bg;
    z-index: 2;

    .list {
      margin: 0;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      list-style-type: none;
      z-index: 1;

      .activeList {
        position: relative;
        left: -41px;
        padding-left: 39px;
        display:none;
        background-color: $search-categpry-hover-bg;
        border-left: 1px solid $search-categpry-hover-border;

        &:hover{
          background-color: $search-hover-animation-bg;
          color: $white;
        }
      }

      .listCategory {
        display: block;
        margin-right: 25px;
        padding-right: 10px;
        width: 100%;

      }

      li {
        position: relative;
        top: 10%;
        padding: 10px ;
        border-top: 0.5px dotted $mediumLightGray;

      }
    }

    &:hover {
      cursor: pointer;

      .activeList {
        display: block;
      }
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;

    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 2;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      outline: none;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $search-bg;
    z-index: 3;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      &:focus{
        outline:none;
      }

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
      margin-right: 10px;
    }
  }
}


/*RWD*/

.mobile {
  display: block;
  min-height: 80px;

  .category {


    .list {
      z-index: 2;

      li {
        z-index: 2;
        min-height: 40px;
      }
    }
  }

  .searchField {
    border-top: 1px solid $form-border-color;
    padding-top: 8px;

    button {
      position: absolute;
      right: 10px;
    }
  }
}

.wrapMd {
flex: 0 0 90%;
}
